body{
    -webkit-animation: colorChange 30s infinite;
    animation: colorChange 30s infinite;
}
@-webkit-keyframes colorChange{
    0% {background: #000;}
    10% {background: #740B0B;}
    20% {background: #f22;}
    30% {background: #ff2;}
    40% {background: #2f2;}
    50% {background: #2ff;}
    60% {background: #22f;}
    70% {background: #f2f;}
    80% {background: #f22;}
    90% {background: #740B0B;}
    100% {background: #000;}
}
@keyframes colorChange{
    0% {background: #000;}
    10% {background: #740B0B;}
    20% {background: #f22;}
    30% {background: #ff2;}
    40% {background: #2f2;}
    50% {background: #2ff;}
    60% {background: #22f;}
    70% {background: #f2f;}
    80% {background: #f22;}
    90% {background: #740B0B;}
    100% {background: #000;}
}
.swap{
    -webkit-animation:textChange 30s infinite;
    animation: textChange 30s infinite;
}
@-webkit-keyframes textChange{
    0% {color:white}
    5% {color:white}
    20% {color: black}
    80% {color: black}
    95% {color:white}
    100% {color: white}
}
@keyframes textChange{
    0% {color:white}
    5% {color:white}
    20% {color: black}
    80% {color: black}
    95% {color:white}
    100% {color: white}
}
.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #ff2), color-stop(0.3, #2f2), color-stop(0.45, #2f2), color-stop(0.6, #2ff),color-stop(0.75, #22f), color-stop(0.9, #f2f), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #ff2), color-stop(0.3, #2f2), color-stop(0.45, #2f2), color-stop(0.6, #2ff),color-stop(0.75, #22f), color-stop(0.9, #f2f), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
#AlbumList tr:nth-child(even){
    background-color: #f2f2f2;
}
#AlbumList tr:nth-child(odd){
    background-color: #C9C9C9;
}
#AlbumList tr:hover {background-color: #999999;}
th {background-color: black; color: white;}
.table{
    display: table;
}
.tr{
    display: table-row;
}
